<h1>All Discussions</h1>

<div class="table discussions">
  <div class="tbody">
  <% @discussions.each do |d| %>
    <tr>
      <td><%= link_to d.topic, d %></td>
    </tr>
  <% end %>
  </div>
</div>
