<h1>All Discussions</h1>

<table class="table discussions">
  <tbody>
  <% @discussions.each do |d| %>
    <tr>
      <td><%= link_to d.topic, d %></td>
    </tr>
  <% end %>
  </tbody>
</table>
