<div class="new-comment">
  <%= simple_form_for [discussion, discussion.comments.build], remote: true do |f| %>
    <%= f.input :content, label: "New Comment", as: :text, input_html: { rows: "3" } %>
    <%= f.button :submit, value: "Send" %>
  <% end %>
</div>
