<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#toggleMenu" aria-controls="toggleMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "Discussion Cables", root_path, class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="toggleMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "New Discussion", new_discussion_path, class: "nav-link" %>
      </li>

      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, class: "nav-link" %>
      </li>
      <% end %>

    </ul>
  </div> <!-- .collapse -->
  </div> <!-- .container -->
</nav>
